@import url('https://fonts.googleapis.com/css?family=Poppins:wght@200;400$dysplay-swap');

*{
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: #084151;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-top: 3rem;
}

.add{
  position: fixed;
  font-size:1.3rem;
  font-weight: bold;
  top:1rem;
  left:3.3rem;
  background-color: #66ca2b;
  border-bottom: 3px solid #fff;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.note{
  background-color: #eeeaea;
  border: 1px solid whitesmoke;
  margin: 30px 20px;
  border-radius: 50px;
  height: 400px;
  width: 400px;
}
.note .tools {
  background-color: #000000;
  border-bottom: 3px solid #fff;
  border-top-right-radius: 33px;
  border-top-left-radius: 33px;
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
}

.note .tools button{
  background-color: transparent;
  border:none;
  color:#9b4545;
  cursor: pointer;
  font-size:1.7rem;
  margin-left: 1rem;

}
.note .tools .edit {
 color:#fff;
}
.note textarea {
  outline: none;
  font-family: inherit;
  font-size:1.5rem;
  border:none;
  height: 350px;
  width: 100%;
  padding: 20px;
  background-color: rgb(34, 49, 49);
  color:antiquewhite
}
.main {
  padding-left: 20px;
  font-size:1.55rem;
  font-weight: 700;
}
.hidden{
  display:none;
}



/* heading */
.epp{
  width: 100%;
  background-color: #000000;
  border-bottom: 3px solid #fff;
  margin-top: 33px;
}
.epp h2 {
  text-shadow:
  0 0 3px #ffffff, 0 0 10px #ffffff,
  0 0 20px #102abc, 0 0 40px #072ca7;
  text-align: center;
  font-size: 3.3rem;
}

.toggleBtn {
  background-color: #102abc;
  color:#fff;
}
.togglePrimary i{
  color:#102abc;
}