@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


*{
  box-sizing: border-box;
}

body {
  background-color: #8ee022;
  color: #333;
  font-family: 'Roboto', sans-serif;
  margin:0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}
h1 {
  margin:10px;
  background: #fff;
  padding: 13px;
  border-radius: 33px;
  box-shadow: 2px 3px  5px green;
}
.box {
  background-color: rgb(25, 47, 65);
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  margin: 10px;
  border-radius: 33px;
  box-shadow: 2px 4px 5px rgba(40, 0, 0, 0.9);
  transform: translateX(400%);
  transition: transform 0.5s ease;
}
.box:nth-of-type(even){
  transform: translateX(-400%);
  background-color: rgb(103, 14, 247);
}

.box.show{
  transform: translateX(0);
}
.box h2 {
  font-size: 50px;
}